* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formContainer {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     height: 100vh !important;
}

.form {
    /* border: 1px solid black; */
    padding: 10px;
   
}

#name {
    margin: 10px 0;
    padding: 5px 30px;
    /* border-radius: 10px; */
    border: none;
    width: 300px;
    border-bottom: 0.5px solid gray;
}

input {
    margin: 10px 0;
    padding: 5px 30px;
    /* border-radius: 10px; */
    border: none;
    /* border-bottom: 0.5px solid gray; */
}

.countrypicker {
    width: 60px !important;
    border: none;
}

.border-bottom {
    border-bottom: 0.5px solid gray;
    width: 300px;
}

.Pre-Register {
    padding: 5px 40px;
    color: white;
    background-color: rgb(133, 8, 122);
    font-weight: 700;
    margin: 20px 0 0;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    /* padding: 0.3vw 2vw; */
    text-align: center;
    margin-left: 56px;
 
}

small {
    color: red;
    margin-top: 20px;
    visibility: hidden;
}

select {
    margin: 10px 0;
}

.success input {
    color: rgb(0, 255, 47) !important;
    cursor: pointer;
    transition: all 0.5s;
    margin: 10px 0;
    padding: 5px 30px;
    border: 0.5px solid rgb(85, 255, 0) !important;
    width: 300px;
}

.error small {
    visibility: visible;
}

.error input {
    color: red !important;
    cursor: pointer;
    transition: all 0.5s;
    margin: 10px 0;
    padding: 5px 30px;
    border: 0.5px solid red !important;
    width: 240px;
    border-bottom: 0.5px solid rgb(246, 0, 0);
}

.h2 {
    letter-spacing: .02vw;
    font-family: 'muli', 'Helvetica', 'Arial', sans-serif;
    margin: 8px 0 0;
    font-size: 16px !important;
    text-align: center;
}
